Datos de tiempo meteorológico en NY (años 2016 - 2018)

In [16]:
# Librerías
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

# para eliminar warning en python
import warnings
warnings.simplefilter('ignore')

In [17]:
# Assumiendo que el archivo está en la carpeta
# Cambiar al directorio con el archivo
file_path_01 = "C:/Users/56988/Desktop/NYdrive/archivosExtNY/NYC_weather.csv"
os.chdir("C:/Users/56988/Desktop/NYdrive/archivosExtNY/")

In [18]:
# Dataframe tiempo meteorológico NY
df_weatherNY = pd.read_csv(file_path_01)

**Diccionario:**
* STATION: estación de la medición realizada.
* NAME: nombre de la estación de medición.
* DATE: fecha de la medición realizada.
* AWND: Velocidad promedio del viento (en millas por hora).
* PRCP: Precipitación acumulada (en pulgadas).
* SNOW: Cantidad de nieve caída (en pulgadas).
* SNWD: Profundidad de la nieve en el suelo (en pulgadas).
* TAVG: Temperatura promedio diaria (promedio de máxima y mínima) en grados Fahrenheit.
* TMAX: Temperatura máxima diaria en grados Fahrenheit.
* TMIN: Temperatura mínima diaria en grados Fahrenheit.
* WT01, WT02, WT03, etc.: Códigos de tiempo meteorológico (por ejemplo, niebla, lluvia, tormenta, etc.). Estos códigos indican condiciones climáticas específicas.

In [19]:
df_weatherNY # Temperatura en Fahrenheit, precipitaciones en pulgadas, caída de nieve (T es traza, menos de 0,1 pulgada)

,STATION,NAME,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WT01,WT02,WT03,WT04,WT06,WT08
0,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-01-01,7.61,0.00,0.0,0.0,NaN,42,34,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-01-02,6.71,0.00,0.0,0.0,NaN,40,32,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-01-03,7.83,0.00,0.0,0.0,NaN,45,35,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-01-04,8.50,0.00,0.0,0.0,NaN,36,14,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-01-05,5.14,0.00,0.0,0.0,NaN,29,11,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-05-27,8.28,0.44,0.0,0.0,NaN,80,56,1.0,NaN,1.0,NaN,NaN,NaN
878,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-05-28,1.79,0.00,0.0,0.0,NaN,69,56,NaN,NaN,NaN,NaN,NaN,NaN
879,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-05-29,1.12,0.00,0.0,0.0,NaN,89,63,1.0,NaN,NaN,NaN,NaN,1.0
880,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-05-30,2.24,0.00,0.0,0.0,NaN,78,61,1.0,NaN,NaN,NaN,NaN,1.0
881,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-05-31,2.01,0.10,0.0,0.0,NaN,68,63,1.0,NaN,NaN,NaN,NaN,1.0

In [20]:
# Cantidad de valores nulos en cada columna
null_counts = df_weatherNY.isnull().sum()

In [21]:
null_counts

STATION      0
NAME         0
DATE         0
AWND        10
PRCP         0
SNOW         0
SNWD         0
TAVG       882
TMAX         0
TMIN         0
WT01       533
WT02       858
WT03       877
WT04       880
WT06       878
WT08       685
dtype: int64

In [22]:
# Reemplazar NaN con ceros en las columnas
df_filled = df_weatherNY.fillna(0)

In [24]:
# Guardar df de weather en NY 2016-2018
#df_weatherNY.to_csv("df_tiempo_NY_2016_2018.csv")